/* Empty. Add your own CSS if you like */

* { margin:0; padding:0; border:0;}
html { overflow:auto;}
a { text-decoration:none;}
input,
textarea { font-family:"微软雅黑"; color:#333;}
.warrper { width:100%; font-family:"微软雅黑";}
.margin-top-none { margin-top:0;}
.ps { display:block; font-size:12px; color:#ccc; background:#EBEBEB; padding-bottom:12px; padding-left:5px;}
a.code { font-size:12px; color:#333; width:100px; height:45px; line-height:45px; text-align:center; background:#CDCDCD; position:absolute; right:0; top:0;}
.gray { color:#999;}
h5 { margin-left:10px; font-size:13px; color:#999; font-weight:bold;}
.input-label {font-family: "微软雅黑"; font-size: 14px}
input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] { background: none;}
.ion-ios-people-outline {color:#387ef5;}
.ion-ios-email-outline {color:#387ef5;}
.ion-ios-gear-outline {color:#387ef5;}
.padding-scroll { margin-bottom: 70px;}

.button.button-background-red { background:#FA7879; border:0;}
.button.button-positive { font-size:16px; font-weight:bold; right:0;}
.button-position-bottom { width:100%; padding-top:1px; position:fixed; bottom:0; z-index:99;}
.button-box { margin-top:-1px; margin-left: 10px; margin-right: 10px;}
.button-box button { border-radius:4px;}
.button-box a { display:inline-block; width:49%;}
.button-inset { margin:0 10px;}

.call-history-list { display:block; font-size:13px; overflow:hidden; zoom:1; margin-bottom:8px;}
.call-history-list .time { margin-left:25px;}
.call-history-list .min { float:right;}

.circle { display: inline-block; width: 8px; height: 8px; margin-right: 8px; border-radius: 8px; position: absolute; top:22px; left:-5px;}
.circle-blue { background-color: #387ef5;}

.drop-down-box { margin-bottom:10px;}
.drop-down-list { border:1px solid #ddd; font-size:14px; margin-bottom:-1px; background:#FFF; border-top-left-radius:2px; border-top-right-radius:2px; padding:6px 0 5px 16px; position:relative;}
.drop-down-list p { height:34px; line-height:34px; margin-bottom:0;}
.drop-down-list .drop-down,
.drop-down-list .drop-more { position:absolute; top:16px; right:0;}
.drop-down-list a { color: #333;}

.daily-list { padding:0 10px; padding-bottom: 38px;}
.daily-list p { font-size:16px; margin-bottom:10px; margin-top:15px;}
.daily-list .unfinished { color:#6A8DCF;}
.daily-list .finished { color:#CCEA91;}
.daily-list .over { color:#FB9091;}
.daily-list ul { padding-left:10px;}
.daily-list li { padding-left:20px; list-style:none; font-size:14px; color:#666; line-height:44px; line-height:44px; border-top:1px solid #e4e4e4; border-left:1px solid #e4e4e4; position:relative;}
.daily-list li:first-child { border-top:0;}
.daily-list li .circle { width:8px; height:8px; border-radius:8px; display:inline-block; position:absolute; left:-5px; top:18px;}
.daily-list li .circle-unfinished { background:#6A8DCF;}
.daily-list li .circle-finished { background:#CCEA91;}
.daily-list li .circle-over { background:#FB9091;}
.daily-list li .rw-date { float:right; font-size:12px; color:#666;}

.hide-box { display:none;}
.xm-add { color:#0c63ee; background:none; padding:10px 0; font-family:"微软雅黑"; margin-left:15px;}

.list .font-size-big { font-size:16px; color:#333; font-weight:bold; margin-bottom:8px;}
.list .font-size-small { font-size:14px; color:#999;}
.list .name,
.list .date { margin-right:15px;}
.list-title { margin:10px 10px 0 10px; font-size:14px; font-weight:bold;}

.item-inset { margin-left:10px; margin-right:10px; margin-bottom:1px; padding-left:0; padding-right:0; border-left:0; border-right:0; border-top:0;}
.item-a-right { padding-right:120px;}
.item a.message,
.item a.call { display:inline-block; width:44px; height:44px; position:absolute;}
.item a.message { width:56px; right:65px; top:20px; border-right:1px solid #e4e4e4; padding-right:12px;}
.item a.call { right:10px; top:20px;}
.item a.message img,
.item a.call img { width:100%; height:100%;}
.item-padding-left { padding-left:10px;}
.item-list-noborder { position: relative; border: 0; border-top: 1px solid #e4e4e4;}
.item-list-noborder:first-child { border-top: 0}

.item-input select { display: block; width: 100%; height: 34px; line-height: 34px; font-family: "微软雅黑"; background: none;}

.ion-search { font-size:20px; color:#999; margin-right:8px;}
.ion-android-apps-01,
.ion-android-apps-02 { font-size:20px; color:#FA7D7E; margin-right:8px;}
.item-icon-right .icon-email-01 { right:82px; color:#06F;}
.item-icon-right .ion-ios-telephone-01 { right:15px; color:#AFDF53;}
.ion-ios-telephone-02,
.ion-android-apps-01,
.ion-android-unlock-01 { font-size:22px; color:#ccc; margin-right:15px;}
.ion-call-in { color:#AFDF54; font-size:22px; vertical-align:middle; margin-right:10px;}
.ion-call-out { color:#FB9192; font-size:22px; vertical-align:middle; margin-right:10px;}

.line { display:inline-block; width:1px; height:50%; background:#e4e4e4; position:absolute; top:25%; right:62px;}

.logo { width:107px; height:78px; margin:0 auto; margin-top:20%; margin-bottom:10%;}
.logo img { width:100%; height:100%;}

.login-bj { width:100%; height:100%; display:block; position:relative;}
.login-logo { width:125px; height:84px; margin:0 auto; margin-top:20%; margin-bottom:50px;}
.login-logo img { width:100%; height:100%;}

.setting-box { margin-left:10px; margin-right:10px;}
.setting-box .item { border:0; border-bottom:1px; margin-bottom:1px;}

.Suspended-button { position:fixed; bottom:80px; right:30px; width:44px; height:44px; z-index:9;}
.Suspended-button img { width:100%; height:100%;}

.tabs { background:#FFF; border-bottom:1px solid #DBDBDB; bottom:0;}
.tab-item { font-size:16px; color:#000; font-family:"微软雅黑";}
.tabs a.on { color:#6A8DCF; font-weight:bold;}
.tabs-top > .tabs, .tabs.tabs-top {}

.xm-title { border-bottom:1px solid #e4e4e4; margin-left:10px; margin-right:10px; padding:14px 0 18px 0;}
.xm-title .xm-name { font-size:14px; color:#333; font-weight:bold; margin-bottom:5px;}
.xm-title .xm-date { font-size:12px; color:#999;}

.num,
.sp,
.drop-down { display:inline-block;}
.num img,
.sp img,
.search img,
.drop-down img,
.drop-more img{ width:100%; height:100%;}
.num { width:16px; height:16px; margin-right:5px;}
.sp { width:16px; height:13px; margin-right:5px; margin-top: -17px;}
.search { width:23px; height:23px; margin-right:8px;}
.drop-down { width:21px; height:13px; margin-right:8px;}
.drop-more {width: 12px;height: 20px;margin-right: 8px;}

.hc-code { display: inline-block; width: 120px; height: 34px; line-height: 34px; font-size: 14px; color: #fff;}
