<div class="modal">

	<ion-header-bar class="nav-title-slide-ios7 bar-positive">
		<div class="buttons">
			<button class="button button-clear button-icon ion-android-done" ng-click="newReplie()"></button>
		</div>
		<h1 class="title">手机联系人</h1>
		<div class="buttons">
			<button side="left" class="button button-clear button-icon ion-android-close" ng-click="newReplieModal.hide()"></button>
		</div>
	</ion-header-bar>
    <ion-header-bar class="bar-light bar-subheader" style="padding:0;">
        <div class="bar bar-balanced  item-input-inset" style="border: 0; background: none;">

            <label class="item-input-wrapper item-icon-left item-icon-red">
                <i class="icon ion-search" style="font-size: 20px; margin-right: 20px;"></i>
                <input class="light-bg" style="padding-left: 20px;" type="search" placeholder="搜索"
                       ng-model="lxr">
                       <!--ng-keyup="change(lxr)"-->
                       <!--ng-focus="searchFocused = true"-->
                       <!--ng-blur="searchFocused = false"-->
                       <!--ng-change="scrollTop()">-->
                <button ng-if="lxr.length"class="button button-icon ion-ios-close-outline input-button" ng-click="clearinput()">
                </button>
            </label>
        </div>
    </ion-header-bar>


	<ion-content class="new-topics" scroll="true">
        <!--<ion-list>-->
            <!--<ion-item ng-repeat="t in contacts |filter:lxr |orderBy:contactOrder" class="item item-icon-right">-->
                <!--<p>{{t.displayName}}</p>-->
                <!--<p ng-repeat="k in t.phoneNumbers">{{k.value}}</p>-->
                <!--&lt;!&ndash;<span class="badge badge-clear">{{t.phoneNumbers}}</span>&ndash;&gt;-->
            <!--</ion-item>-->

        <!--</ion-list>-->
        <div class="list">

            <label class="item item-radio" ng-repeat="t in contacts |filter:lxr |orderBy:contactOrder">
                <input type="radio" name="group">
                <div class="item-content">
                    {{t.displayName}}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
	</ion-content>

</div>