<ion-view view-title="新增客户">
    <!--<ion-nav-title >-->
        <!--<div class="h1 title">新增客户</div>-->
    <!--</ion-nav-title>-->


    <ion-content class="padding" style="background:#EBEBEB">
        <div class="warrper">

            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="客户姓名">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="联系电话">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="项目名称">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="单位名称">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="客户职务">
                </label>
                <label class="item item-input">
                    <textarea placeholder="单位地址"></textarea>
                </label>
            </div>

        </div>


    </ion-content>


</ion-view>