<ion-view view-title="新增客户">
    <ion-nav-buttons>
    <button class="button icon-left ion-ios-arrow-left button-clear" ng-click="goBack()"></button>
</ion-nav-buttons>
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button button-clear icon ion-ios-plus-outline"  ng-click="xzlxr()"></button>-->
    <!--</ion-nav-buttons>-->

    <ion-content class="padding"  style="background:#EBEBEB;">
        <form name="fn" ng-submit="reqister(kh)">
       <div class="warrper">

            <div class="list list-inset">
                <div class="item item-input">

                    <input type="text" ng-model="kh.customerName" ng-maxlength="10" placeholder="客户姓名" required>
                    <a style="z-index:9999" class="button button-clear icon ion-ios-plus-outline"  ng-click="xzlxr()"></a>

                </div>
                <label class="item item-input">
                    <input type="tel" ng-model="kh.customerPhone" ng-pattern="/^1\d{10}$/" ng-maxlength="11" placeholder="联系电话" required>
                </label>
                <!--<label class="item item-input">-->
                    <!--<input type="text" placeholder="项目名称">-->
                <!--</label>-->
                <label class="item item-input">
                    <input type="text" ng-model="kh.unitName" ng-maxlength="40" placeholder="单位名称" required>
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="kh.customerJob" ng-maxlength="20" placeholder="客户职务" required>
                </label>
                <label class="item item-input">
                    <textarea ng-model="kh.unitAddress" ng-maxlength="50" placeholder="单位地址" required></textarea>
                </label>
            </div>




        </div>


            <div class="button-box" style=" margin-top: 8px; margin-right: 0; margin-left: 0;">
                <button type="submit"   ng-disabled="fn.$invalid" class="button button-block button-positive" >提交</button>
            </div>

</form>
    </ion-content>



</ion-view>