
<ion-view view-title="用户信息">
    <ion-nav-back-button>    <!--设置返回按钮-->
    </ion-nav-back-button>

    <ion-nav-buttons side="right">
        <button class="button icon ion-ios-calendar" >

        </button>
    </ion-nav-buttons>


    <ion-content>

        <div class="list">

            <div class="item item-divider">
                Candy Bars
            </div>

            <a class="item" href="#">
                Butterfinger
            </a>

            ...

        </div>

    </ion-content>




</ion-view>