<ion-view view-title="修改密码">
    <ion-nav-buttons>
        <button class="button icon-left ion-ios-arrow-left button-clear" ng-click="goBack()"></button>
    </ion-nav-buttons>


    <ion-content class="padding" >
        <form name="fn" ng-submit="reqister(test)">
        <div class="warrper">

            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-ios-telephone ion-ios-telephone-02"></i>
                    <input type="tel" id="tel" ng-model="test.phone" ng-maxlength="11"  required placeholder="请输入手机号码">
                </label>
                <div class="item item-input">
                    <i class="icon ion-android-apps ion-ios-telephone-02"></i>
                    <input style="padding-bottom: 0; padding-top: 0;" required  type="text" ng-model="test.indetifyingCode" ng-maxlength="6" placeholder="请输入验证码">
                    <a ng-class="wjmmclass" ng-disabled="ss" ng-click="hqyzm()"><span class="hc-code">{{wjmm}}</span></a>
                </div>
                <!--<div class="item item-input-inset">-->
                    <!--<label class="item item-input" style="position:relative;">-->
                        <!--<i class="icon ion-android-apps ion-android-apps-01"></i>-->
                        <!--<input  required  type="text" ng-model="test.indetifyingCode" ng-maxlength="6" placeholder="请输入验证码">-->
                    <!--</label>-->
                    <!--<button ng-class="wjmmclass" ng-disabled="ss" ng-click="hqyzm()">-->
                        <!--{{wjmm}}-->
                    <!--</button>-->
                <!--</div>-->
                <!--<label class="item item-input" style="position:relative;">-->
                    <!--<i class="icon ion-android-apps ion-android-apps-01"></i>-->
                    <!--<input type="text" placeholder="请输入验证码">-->
                <!--</label>-->
                <!--<button ng-class="wjmmclass" ng-disabled="ss" ng-click="hqyzm()">{{wjmm}}</button>-->
                <label class="item item-input">
                    <i class="ion-android-unlock ion-android-unlock-01"></i>
                    <input type="password"  ng-maxlength="10" ng-pattern="/^(?!\d+$)(?![A-Za-z]+$)[a-zA-Z0-9]{6,}$/" ng-model="test.newPassword" required placeholder="请输入新密码">
                </label>
                <span class="ps">限6-10位数字和字母不能包含空格</span>
                <label class="item item-input">
                    <i class="ion-android-unlock ion-android-unlock-01"></i>
                    <input type="password"  ng-maxlength="10" ng-pattern="/^(?!\d+$)(?![A-Za-z]+$)[a-zA-Z0-9]{6,}$/" ng-model="test.newPasswords" required placeholder="请确认新密码">
                </label>
            </div>

        </div>

        <div class="button-box" style=" margin-top: 8px; margin-right: 0; margin-left: 0;">
            <button type="submit"   ng-disabled="fn.$invalid" class="button button-block button-positive" ng-click="tj()">提交</button>
        </div>

</form>
    </ion-content>



</ion-view>