<ion-view view-title="修改密码">
    <ion-nav-buttons>
        <button class="button icon-left ion-ios-arrow-left button-clear" ng-click="goBack()"></button>
    </ion-nav-buttons>


    <ion-content class="padding" >

        <div class="warrper">

            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-ios-telephone ion-ios-telephone-02"></i>
                    <input type="tel" id="tel" ng-model="test.tels" placeholder="请输入手机号码">
                </label>
                <div class="item item-input-inset">
                    <label class="item item-input" style="position:relative;">
                        <i class="icon ion-android-apps ion-android-apps-01"></i>
                        <input type="text" placeholder="请输入验证码">
                    </label>
                    <button ng-class="wjmmclass" ng-disabled="ss" ng-click="hqyzm()">
                        {{wjmm}}
                    </button>
                </div>
                <!--<label class="item item-input" style="position:relative;">-->
                    <!--<i class="icon ion-android-apps ion-android-apps-01"></i>-->
                    <!--<input type="text" placeholder="请输入验证码">-->
                <!--</label>-->
                <!--<button ng-class="wjmmclass" ng-disabled="ss" ng-click="hqyzm()">{{wjmm}}</button>-->
                <label class="item item-input">
                    <i class="ion-android-unlock ion-android-unlock-01"></i>
                    <input type="text" placeholder="请输入新密码">
                </label>
                <span class="ps">限6-20位数字、字母、符号，不能包含空格</span>
                <label class="item item-input">
                    <i class="ion-android-unlock ion-android-unlock-01"></i>
                    <input type="text" placeholder="请确认新密码">
                </label>
            </div>

        </div>

        <div class="button-box" style=" margin-top: 8px;">
            <button class="button button-block button-positive" ng-click="tj()">提交</button>
        </div>


    </ion-content>



</ion-view>