<ion-view>

    <ion-nav-title >
        <div class="h1 title">新增任务</div>
    </ion-nav-title>
    <ion-nav-buttons>
    <button class="button icon-left ion-ios-arrow-left button-clear" ng-click="goBack()"></button>
</ion-nav-buttons>

    <ion-content class="padding" style="background:#EBEBEB;">


        <div class="warrper">

            <div class="list list-inset">
                <label class="item item-input">
                    <textarea placeholder="任务描述"></textarea>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="完成时间">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="关联项目">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="截止时间">
                </label>

            </div>

        </div>

        <div class="button-box" style=" margin-top: 8px;">
            <button class="button button-block button-positive" >提交</button>
        </div>

    </ion-content>


</ion-view>