



<ion-view >
    <ion-nav-title >
        <div class="h1 title">任务</div>
    </ion-nav-title>

    <ion-tabs class="tabs-top tabs-color-active-positive" >
        <!-- 任务 Tab -->
        <ion-tab title="待完成" href="#/tab/rw/unfinished" on-select="onTabSelected(1)">
            <ion-nav-view name="tab-rw-unfinished"></ion-nav-view>
        </ion-tab>
        <!-- 项目 Tab -->
        <ion-tab title="已过期" href="#/tab/rw/outdated" on-select="onTabSelected(3)">
            <ion-nav-view name="tab-rw-outdated"></ion-nav-view>
        </ion-tab>
        <!-- 客户 Tab -->
        <ion-tab title="已完成" href="#/tab/rw/finished" on-select="onTabSelected(2)">
            <ion-nav-view name="tab-rw-finished"></ion-nav-view>
        </ion-tab>
    </ion-tabs>

</ion-view>
