<ion-view>
    <ion-nav-title >
        <div class="h1 title">我的</div>
    </ion-nav-title>


    <ion-content>


        <div class="list card">

            <a href="#/wdts" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-people"></i>
                我的同事
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <a href="#" class="item item-icon-left item-icon-right" ng-href="#/wdxx">
                <i class="icon ion-android-mail"></i>
               我的消息
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="list card">
            <a href="#" class="item item-icon-left item-icon-right" ng-href="#/wdsz">
                <i class="icon ion-android-settings"></i>
                设置
                <i class="icon ion-ios-arrow-right"></i>
            </a>


        </div>

    </ion-content>


</ion-view>