<ion-view >
    <ion-nav-title >
        <div class="h1 title">任务</div>
    </ion-nav-title>
  <ion-content class="padding">


      <ion-list>
          <ion-item class="item   item-icon-right">
              <p>拜访十家材料商客户</p>
              <span class="badge badge-clear">07-21</span>
          </ion-item>
          <ion-item class="item   item-icon-right">
              <p>拜访十家材料商客户</p>
              <span class="badge badge-clear">07-21</span>
          </ion-item>
          <ion-item class="item   item-icon-right">
              <p>拜访十家材料商客户</p>
              <span class="badge badge-clear">07-21</span>
          </ion-item>
      </ion-list>


  </ion-content>
</ion-view>