<ion-view view-title="任务">
    <!--<ion-nav-buttons side="primary">-->
    <!--<h1 class="title">任务</h1>-->
    <!--<button class="button icon ion-ios-calendar"></button>-->
<!--</ion-nav-buttons>-->

    <ion-nav-title >
        <div class="h1 title">任务</div>
    </ion-nav-title>

  <ion-content class="padding">
      <ion-list>

          <ion-item class="item   item-icon-right">
              <p>拜访十家材料商客户</p>
              <span class="badge badge-clear">07-21</span>
          </ion-item>
          <ion-item class="item   item-icon-right">
              <p>拜访十家材料商客户</p>
              <span class="badge badge-clear">07-21</span>
          </ion-item>
          <ion-item class="item   item-icon-right">
              <p>拜访十家材料商客户</p>
              <span class="badge badge-clear">07-21</span>
          </ion-item>
          <ion-item class="item   item-icon-right">
              <p>拜访十家材料商客户</p>
              <span class="badge badge-clear">07-21</span>
          </ion-item>
          <ion-item class="item   item-icon-right">
              <p>拜访十家材料商客户</p>
              <span class="badge badge-clear">07-21</span>
          </ion-item>
      </ion-list>




  </ion-content>
</ion-view>