<ion-view>
    <ion-nav-title >
        <div class="h1 title">任务</div>
    </ion-nav-title>
-<a class="Suspended-button" href="#/addrw"><img src="img/float_button.png" /></a>
  <ion-content class="padding"  >

      <div class="list card">

          <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
          <div class="item item-button-right">
              <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
              <button ng-show="true" class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
                  审批
              </button>
          </div>
      </div>

      <div class="list card">

          <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
          <div class="item item-button-right">
              <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
              <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
                  审批
              </button>
          </div>
      </div>

      <div class="list card">

          <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
          <div class="item item-button-right">
              <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
              <!--<button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">-->
                  <!--审批-->
              <!--</button>-->
          </div>
      </div>

      <div class="list card">

          <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
          <div class="item item-button-right">
              <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
              <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
                  审批
              </button>
          </div>
      </div>

      <div class="list card">

          <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
          <div class="item item-button-right">
              <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
              <!--<button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">-->
              <!--审批-->
              <!--</button>-->
          </div>
      </div>

      <div class="list card">

          <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
          <div class="item item-button-right">
              <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
              <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
                  审批
              </button>
          </div>
      </div>

      <div class="list card">

          <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
          <div class="item item-button-right">
              <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
              <!--<button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">-->
              <!--审批-->
              <!--</button>-->
          </div>
      </div>

      <div class="list card">

          <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
          <div class="item item-button-right">
              <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
              <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
                  审批
              </button>
          </div>
      </div>

      <div class="list card">

          <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
          <div class="item item-button-right">
              <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
              <!--<button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">-->
              <!--审批-->
              <!--</button>-->
          </div>
      </div>

      <div class="list card">

          <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
          <div class="item item-button-right">
              <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
              <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
                  审批
              </button>
          </div>
      </div>

  </ion-content>
</ion-view>