<ion-view view-title="任务">
    <!--<ion-nav-buttons side="primary">-->
    <!--<h1 class="title">任务</h1>-->
    <!--<button class="button icon ion-ios-calendar"></button>-->
<!--</ion-nav-buttons>-->

    <ion-nav-title >
        <div class="h1 title">任务</div>
    </ion-nav-title>

  <ion-content class="padding padding-scroll">
      <ion-list>
          <ion-item class=" item-icon-right item-list-noborder" ng-repeat="list in rwlist2">

              <!--<span class="circle circle-blue" style="margin-left: 8px"></span>-->
              <div class="overauto" style="overflow: auto;">{{list.taskDesc |strJq}}</div>
              <span style="right:10px" class="badge badge-clear badge-date">{{list.completeDate | date:"yyyy-MM-dd"}}</span>

          </ion-item>


      </ion-list>

      <ion-infinite-scroll ng-if="shwomor" immediate-check="false" on-infinite="loadMoresss()"></ion-infinite-scroll>






  </ion-content>
</ion-view>