<ion-view title="任务">
    <ion-nav-buttons side="right">

        <a class="button button-clear icon ion-ios-plus-outline"  href="#/addrw"></a>
    </ion-nav-buttons>
    <ion-header-bar class="bar-light bar-subheader" style="padding:0;">
        <div class="list list-inset" style="margin:0;">
            <label class="item item-input">
                <select  ng-change="clearSearch(xm)"  ng-model="xm" ng-options="s.projectsId as s.projectName for s in ussssr" >
                    <option  value="">选择项目名称</option>
                </select>
            </label>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="warrper">
            <div class="list">
                <div class="item item-button-right item-inset"  ng-repeat="list in rwlist  |orderBy:contactOrder ">
                    <a ng-href="#/rwlist/{{list.taskId}}">
                        <p class="font-size-big" style="font-family: "";>{{list.taskDesc}}</p>
                        <p class="font-size-small">{{list.completeDate | date:"yyyy-MM-dd"}}</p>
                    </a>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="shwomor" immediate-check="false" on-infinite="loadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>
