<ion-view >



    <ion-nav-title >
        <div class="h1 title">项目</div>
    </ion-nav-title>
    <!--<ion-nav-buttons side="left">-->
        <!--<button class="button icon ion-plus-round" > </button>-->
    <!--</ion-nav-buttons>-->
    <ion-nav-buttons side="right">
        <button class="button icon ion-plus-round" ng-click="xzxm()"> </button>
    </ion-nav-buttons>
    <!--<a href="#" class=" item-icon-right">-->
        <!--<i class="icon ion-android-mail"></i>-->
    <!--</a>-->

    <ion-header-bar class="bar-light bar-subheader" style="padding:0;">
        <div class="bar bar-balanced  item-input-inset" style="border: 0; background: none;">

            <label class="item-input-wrapper item-icon-left item-icon-red">
                <i class="icon ion-search" style="font-size: 20px; margin-right: 20px;"></i>
                <input class="light-bg" style="padding-left: 20px;" type="search" placeholder="搜索"
                       ng-model="search"
                       ng-focus="searchFocused = true"
                       ng-blur="searchFocused = false"
                       ng-change="scrollTop()">
                <button ng-if="search.length"
                        class="button button-icon ion-android-close input-button"
                        ng-click="clearSearch()">
                </button>
            </label>
        </div>
    </ion-header-bar>

    <ion-content class="padding">

        <div class="list card">

            <div class="item item-divider " ng-click="xmxq()"><b>项目名称项目名称项目名称项目</b></div>
            <div class="item item-button-right">
                <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
                <button ng-show="true" class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
                    审批
                </button>
            </div>
        </div>
        <div class="list card">

            <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
            <div class="item item-button-right">
                <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
                <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
                    审批
                </button>
            </div>
        </div>
        <div class="list card">

            <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
            <div class="item item-button-right">
                <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
                <!--<button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">-->
                <!--审批-->
                <!--</button>-->
            </div>
        </div>
        <div class="list card">

            <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
            <div class="item item-button-right">
                <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
                <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
                    审批
                </button>
            </div>
        </div>
        <div class="list card">

            <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
            <div class="item item-button-right">
                <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
                <!--<button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">-->
                <!--审批-->
                <!--</button>-->
            </div>
        </div>
        <div class="list card">

            <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
            <div class="item item-button-right">
                <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
                <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
                    审批
                </button>
            </div>
        </div>
        <div class="list card">

            <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
            <div class="item item-button-right">
                <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
                <!--<button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">-->
                <!--审批-->
                <!--</button>-->
            </div>
        </div>
        <div class="list card">

            <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
            <div class="item item-button-right">
                <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
                <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
                    审批
                </button>
            </div>
        </div>
        <div class="list card">

            <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
            <div class="item item-button-right">
                <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
                <!--<button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">-->
                <!--审批-->
                <!--</button>-->
            </div>
        </div>
        <div class="list card">

            <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
            <div class="item item-button-right">
                <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
                <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
                    审批
                </button>
            </div>
        </div>


    </ion-content>
</ion-view>
