<ion-view >
    <ion-nav-title >
        <div class="h1 title">客户</div>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button icon ion-plus-round"  ng-click="xzkh()" > </button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-light bar-subheader" style="padding:0;">
        <div class="bar bar-balanced  item-input-inset" style="border: 0; background: none;">

            <label class="item-input-wrapper item-icon-left item-icon-red">
                <i class="icon ion-search" style="font-size: 20px; margin-right: 20px;"></i>
                <input class="light-bg" style="padding-left: 20px;" type="search" placeholder="搜索"
                       ng-model="search"
                       ng-focus="searchFocused = true"
                       ng-blur="searchFocused = false"
                       ng-change="scrollTop()">
                <button ng-if="search.length"
                        class="button button-icon ion-android-close input-button"
                        ng-click="clearSearch()">
                </button>
            </label>
        </div>
        </ion-header-bar>

  <ion-content class="padding">



      <div class="list">
          <div class="item item-a-right item-inset">
              <a href="#">
                  <p class="font-size-big"><span class="name">张三</span><span>18790527612</span></p>
                  <p class="font-size-small"><span class="date">2015-06-27</span><span>18:09:21</span></p>
              </a>
              <a class="item-icon-right" style="padding:0;">
                  <i class="icon ion-email icon-email-01"></i>
              </a>
              <span class="line"></span>
              <a class="item-icon-right" style="padding:0;">
                  <i class="icon ion-ios-telephone ion-ios-telephone-01"></i>
              </a>
          </div>
          <div class="item item-button-right item-inset">
              <a href="#">
                  <p class="font-size-big"><span class="name">张三</span><span>18790527612</span></p>
                  <p class="font-size-small"><span class="date">2015-06-27</span><span>18:09:21</span></p>
              </a>
              <a class="item-icon-right" style="padding:0;">
                  <i class="icon ion-email icon-email-01"></i>
              </a>
              <span class="line"></span>
              <a class="item-icon-right" style="padding:0;">
                  <i class="icon ion-ios-telephone ion-ios-telephone-01"></i>
              </a>
          </div>
          <div class="item item-button-right item-inset">
              <a href="#">
                  <p class="font-size-big"><span class="name">张三</span><span>18790527612</span></p>
                  <p class="font-size-small"><span class="date">2015-06-27</span><span>18:09:21</span></p>
              </a>
              <a class="item-icon-right" style="padding:0;">
                  <i class="icon ion-email icon-email-01"></i>
              </a>
              <span class="line"></span>
              <a class="item-icon-right" style="padding:0;">
                  <i class="icon ion-ios-telephone ion-ios-telephone-01"></i>
              </a>
          </div>
          <div class="item item-button-right item-inset">
              <a href="#">
                  <p class="font-size-big"><span class="name">张三</span><span>18790527612</span></p>
                  <p class="font-size-small"><span class="date">2015-06-27</span><span>18:09:21</span></p>
              </a>
              <a class="item-icon-right" style="padding:0;">
                  <i class="icon ion-email icon-email-01"></i>
              </a>
              <span class="line"></span>
              <a class="item-icon-right" style="padding:0;">
                  <i class="icon ion-ios-telephone ion-ios-telephone-01"></i>
              </a>
          </div>
          <div class="item item-button-right item-inset">
              <a href="#">
                  <p class="font-size-big"><span class="name">张三</span><span>18790527612</span></p>
                  <p class="font-size-small"><span class="date">2015-06-27</span><span>18:09:21</span></p>
              </a>
              <a class="item-icon-right" style="padding:0;">
                  <i class="icon ion-email icon-email-01"></i>
              </a>
              <span class="line"></span>
              <a class="item-icon-right" style="padding:0;">
                  <i class="icon ion-ios-telephone ion-ios-telephone-01"></i>
              </a>
          </div>
      </div>

  </ion-content>
</ion-view>
