
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard 任务 -->
    <ion-tab title="项目" keyboard-attach icon-off="ion-android-apps" icon-on="ion-android-apps"  href="#/tab/rw">
        <ion-nav-view name="tab-rw" >  </ion-nav-view>
    </ion-tab>

    <!-- Chats 项目 -->
    <ion-tab title="任务" icon-off="ion-clipboard" icon-on="ion-clipboard"  href="#/tab/xm">
        <ion-nav-view name="tab-xm"></ion-nav-view>
    </ion-tab>

    <!-- Account 客户 -->
    <ion-tab title="客户" keyboard-attach icon-off="ion-android-contacts" icon-on="ion-android-contacts" href="#/tab/kh">
        <ion-nav-view name="tab-kh"></ion-nav-view>
    </ion-tab>

    <!-- Account 我的 -->
    <ion-tab title="我的" icon-off="ion-android-contact" icon-on="ion-android-contact" href="#/tab/wd">
        <ion-nav-view name="tab-wd"></ion-nav-view>
    </ion-tab>




</ion-tabs>
