
<ion-view view-title="部门">
<ion-nav-buttons>
    <button class="button icon-left ion-ios-arrow-left button-clear" ng-click="goBack()"></button>
</ion-nav-buttons>

    <!--<ion-header-bar class="bar-light bar-subheader" style="padding:0;">-->
        <!--<div class="bar bar-balanced  item-input-inset" style="border: 0; background: none;">-->

            <!--<label class="item-input-wrapper item-icon-left item-icon-red">-->
                <!--<i class="icon ion-search" style="font-size: 20px; margin-right: 20px;"></i>-->
                <!--<input class="light-bg" style="padding-left: 20px;" type="search" placeholder="搜索"-->
                       <!--ng-model="search"-->
                       <!--ng-focus="searchFocused = true"-->
                       <!--ng-blur="searchFocused = false"-->
                       <!--ng-change="scrollTop()">-->
                <!--<button ng-if="search.length"-->
                        <!--class="button button-icon ion-android-close input-button"-->
                        <!--ng-click="clearSearch()">-->
                <!--</button>-->
            <!--</label>-->
        <!--</div>-->
    <!--</ion-header-bar>-->


    <ion-content>
        <!--<div class="list list-inset">-->
            <!--<label class="item item-input">-->
                <!--<i class="search"><img src="img/search.png" /></i>-->
                <!--<input type="text" placeholder="搜索">-->
            <!--</label>-->
        <!--</div> href="#/bm/{{n.userList}}"-->


        <ion-list >
            <ion-item ng-repeat="n in list" ng-click="opens(n.departNum,n.departId)" class="item  item-icon-right" >
                {{n.departName}}
                <span class="badge badge-clear">{{n.departNum}}</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>


        </ion-list>


    </ion-content>




</ion-view>