
<ion-view view-title="同事">
    <ion-nav-buttons>
        <button class="button icon-left ion-ios-arrow-left button-clear" ng-click="goBack()"></button>
    </ion-nav-buttons>



    <ion-content class="padding">

        <div class="list">
            <div class="item item-a-right item-inset"  ng-repeat="n in bmry">
                <a href="#">
                    <p class="font-size-big"><span class="name">{{n.userName}}</span><span>{{n.userPhone}}</span></p>
                    <p class="font-size-small"><span class="date">{{n.userDepart}}</span><span>{{n.userRole}}</span></p>
                </a>
                <a class="item-icon-right"  style="padding:0;"  ng-click="sendDx(n.userPhone)">
                    <i class="icon ion-email icon-email-01"></i>
                </a>
                <span class="line"></span>
                <a class="item-icon-right" ng-href="tel:{{n.userPhone}}"  style="padding:0;">
                    <i class="icon ion-ios-telephone ion-ios-telephone-01"></i>
                </a>
            </div>

        </div>


    </ion-content>




</ion-view>