
<ion-view view-title="部门">
<ion-nav-buttons>
    <button class="button icon-left ion-ios-arrow-left button-clear" ng-click="goBack()"></button>
</ion-nav-buttons>




    <ion-content>


        <ion-list >
            <ion-item ng-repeat="n in list" ng-click="opens(n.departNum,n.departId)" class="item  item-icon-right" >
                {{n.departName}}
                <span class="badge badge-clear">{{n.departNum}}</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>


        </ion-list>


    </ion-content>




</ion-view>