<ion-view view-title="我的消息">
    <ion-nav-buttons>
        <button class="button icon-left ion-ios-arrow-left button-clear" ng-click="goBack()"></button>
    </ion-nav-buttons>


    <ion-content class="padding">
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>Matoc Kenig</h2>
                <p>这是一条系统消息,这是一条系统消息</p>
                <a class="item-icon-right" style="padding:0;">
                    <i class="icon" style="font-size: 12px; top:16px; height: auto;">2015-07-14</i>
                </a>
            </div>
            <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>Matoc Kenig</h2>
                <p>这是一条系统消息,这是一条系统消息</p>
                <a class="item-icon-right" style="padding:0;">
                    <i class="icon" style="font-size: 12px; top:16px; height: auto;">2015-07-14</i>
                </a>
            </div>

        </div>



    </ion-content>


</ion-view>