<div class="modal">

    <ion-header-bar class="nav-title-slide-ios7 bar-positive">
        <div class="buttons">
            <button side="left" class="button button-clear button-icon ion-android-close" ng-click="newReplieModalstsjdw()"></button>
        </div>
        <h1 class="title">添加设计单位</h1>
        <div class="buttons">
            <button class="button button-clear button-icon ion-android-done" ng-click="newRepliesjdw(addsjdw)"></button>
        </div>
    </ion-header-bar>


    <ion-content class="new-topics" scroll="true">

        <div class="list list-inset margin-top-none">
            <label class="item item-input">
                <input type="text"  ng-model="addsjdw.designName" placeholder="单位名称">
            </label>
            <label class="item item-input">
                <input type="text"  ng-model="addsjdw.designPerson" placeholder="项目负责人  (必填)">
            </label>
            <label class="item item-input">
                <input type="tel"  ng-model="addsjdw.designPhone"   placeholder="联系电话  (必填)">
            </label>
            <label class="item item-input">
                <textarea  ng-model="addsjdw.designAddress"  placeholder="单位地址"></textarea>
            </label>
        </div>
    </ion-content>

</div>