<ion-view view-title="项目报备">
    <ion-nav-buttons>
        <button class="button icon-left ion-ios-arrow-left button-clear" ng-click="goBack()"></button>
    </ion-nav-buttons>


    <ion-content class="padding" scroll="true"  style="background:#EBEBEB">
        <form name="fn" ng-submit="reqister(xm)">
        <div class="warrper" style="padding-bottom:78px;">

            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" ng-model="xm.projectsName" placeholder="项目名称  (必填)" ng-maxlength="40" required>
                </label>
                <label class="item item-input">
                    <select  ng-change="selectss(xm.projectsheng)" ng-model="xm.projectsheng" ng-options="x.provinceId as x.provinceName for x in usss">
                        <option  value="">请选择省</option>
                    </select>
                    <!--<select  ng-model="xm.projectAreaCode" ng-options="s.cityId as s.cityName for s in ussssr"  required>-->
                        <!--<option  value="">请选择  (必填)</option>-->
                    <!--</select>-->
                </label>
                <label class="item item-input">
                    <!--<select  ng-change="selectss(xm.projectsheng)" ng-model="xm.projectsheng" ng-options="x.provinceId as x.provinceName for x in usss">-->
                        <!--<option  value="">请选择</option>-->
                    <!--</select>-->
                    <select  ng-model="xm.projectAreaCode" ng-options="s.cityId as s.cityName for s in ussssr"  required>
                        <option  value="">请选择市  (必填)</option>
                    </select>
                </label>
                <label class="item item-input">
                    <input type="text"  ng-model="xm.projectsAdd" placeholder="详细地址  (必填)" ng-maxlength="50" required>
                </label>
                <label class="item item-input">
                    <textarea  ng-model="xm.projectsScale" placeholder="建设规模 "  ng-maxlength="90"></textarea>
                </label>
                <label class="item item-input">
                    <textarea  ng-model="xm.structuralStyle" placeholder="结构形式 " ng-maxlength="90" ></textarea>
                </label>
                <label class="item item-input">
                    <textarea  ng-model="xm.functionDesc" placeholder="使用功能和平面布局描述  " ng-maxlength="90" ></textarea>
                </label>
                <label class="item item-input">
                    <textarea  ng-model="xm.projectsProgress" placeholder="目前项目进展  (必填)" ng-maxlength="90" required></textarea>
                </label>
                <label class="item item-input">
                    <textarea  ng-model="xm.resourceSituation" placeholder="资源情况  (必填)" ng-maxlength="90" required></textarea>
                </label>
                <label class="item item-input">
                    <textarea  ng-model="xm.followupStatus" placeholder="目前跟进状态  (必填)" ng-maxlength="90" required></textarea>
                </label>
            </div>

            <div class="drop-down-box">
                <div ng-click="showyzf()" class="drop-down-list"><p>业主方</p><i class="drop-down"><img src="img/drop-down.png" /></i></div>
                <div  ng-show="pp.yzf">
                    <div class="list list-inset margin-top-none">
                        <label class="item item-input">
                            <input  ng-model="xm.ownerName" type="text" ng-maxlength="40" placeholder="单位名称">
                        </label>
                        <label class="item item-input">
                            <input  ng-model="xm.ownerPerson" type="text" ng-maxlength="20" placeholder="项目负责人  (必填)">
                        </label>
                        <label class="item item-input">
                            <input  ng-model="xm.ownerPhone" type="tel" ng-pattern="/^1\d{10}$/" ng-maxlength="11" placeholder="负责人联系电话  (必填)">
                        </label>
                        <label class="item item-input">
                            <input type="text"  ng-model="xm.technicalEngineer"ng-maxlength="20" placeholder="技术总工">
                        </label>
                        <label class="item item-input">
                            <input type="tel"  ng-model="xm.engineerPhone" ng-pattern="/^1\d{10}$/" ng-maxlength="11" placeholder="技术总工联系电话">
                        </label>
                        <label class="item item-input">
                            <textarea  ng-model="xm.ownerAddress" ng-maxlength="50" placeholder="单位地址"></textarea>
                        </label>
                    </div>
                </div>
                <div class="drop-down-list"  ng-repeat="t in contact  |orderBy:contactOrder" >
                    <a class="" ng-click="xqyzf(t.id)" ><p>业主方{{t.id}}</p></a><i  class="drop-more"><img ng-click="delyzf(t.id)" src="img/yzdel.png"></i>
                </div>
                <a class="xm-add" ng-click="showLayer()">新增业主方</a>
            </div>


            <div class="drop-down-box">
                <div ng-click="showsjdw()" class="drop-down-list"><p>设计单位</p><i class="drop-down"><img src="img/drop-down.png" /></i></div>
                <div ng-show="pp.sjdw">
                    <div class="list list-inset margin-top-none">
                        <label class="item item-input">
                            <input type="text"  ng-model="xm.designName" ng-maxlength="40" placeholder="单位名称">
                        </label>
                        <label class="item item-input">
                            <input type="text"  ng-model="xm.designPerson"ng-maxlength="20" placeholder="项目负责人  (必填)">
                        </label>
                        <label class="item item-input">
                            <input type="text"  ng-model="xm.designPhone" ng-pattern="/^1\d{10}$/" ng-maxlength="11" placeholder="联系手机号码  (必填)">
                        </label>
                        <label class="item item-input">
                            <textarea  ng-model="xm.designAddress" ng-maxlength="50" placeholder="单位地址"></textarea>
                        </label>
                    </div>
                </div>
                <div class="drop-down-list"  ng-repeat="t in sjdwlist  |orderBy:contactOrder" >
                    <a class="" ng-click="xqsjdw(t.id)" ><p>设计单位{{t.id}}</p></a><i  class="drop-more"><img ng-click="delsjdw(t.id)" src="img/yzdel.png"></i>
                </div>
                <a class="xm-add" ng-click="showSjdw()">新增设计单位</a>
            </div>


            <div class="drop-down-box">
                <div ng-click="zbfshow()" class="drop-down-list"><p>土建总包方（未做深化图纸项目可不填）</p><i class="drop-down"><img src="img/drop-down.png" /></i></div>
                <div ng-show="pp.zbf">
                    <div class="list list-inset margin-top-none">
                        <label class="item item-input">
                            <input  type="text"  ng-model="xm.enginName" ng-maxlength="40" placeholder="单位名称">
                        </label>
                        <label class="item item-input">
                            <input  type="text"  ng-model="xm.enginPerson"ng-maxlength="20" placeholder="项目负责人">
                        </label>
                        <label class="item item-input">
                            <input  type="tel"  ng-model="xm.enginPhone" ng-pattern="/^1\d{10}$/" ng-maxlength="11" placeholder="联系手机号码">
                        </label>
                        <label class="item item-input">
                            <textarea  ng-model="xm.enginAddress" ng-maxlength="50" placeholder="单位地址"></textarea>
                        </label>
                    </div>
                </div>
            </div>



                <div class="button-box" style=" margin-bottom: 70px; margin-top: 8px; margin-right: 0; margin-left: 0;">
                    <button type="submit"   ng-disabled="fn.$invalid" class="button button-block button-positive">提交</button>
                </div>






        </div>

</form>
    </ion-content>


</ion-view>