<ion-view view-title="项目报备">
    <ion-nav-buttons>
        <button class="button icon-left ion-ios-arrow-left button-clear" ng-click="goBack()"></button>
    </ion-nav-buttons>


    <ion-content class="padding"  style="background:#EBEBEB">

        <div class="warrper" style="padding-bottom:78px;">

            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="项目名称">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="项目地址">
                </label>
                <label class="item item-input">
                    <textarea placeholder="建设规模"></textarea>
                </label>
                <label class="item item-input">
                    <textarea placeholder="结构形式"></textarea>
                </label>
                <label class="item item-input">
                    <textarea placeholder="使用功能和平面布局描述"></textarea>
                </label>
                <label class="item item-input">
                    <textarea placeholder="米钱项目进展"></textarea>
                </label>
                <label class="item item-input">
                    <textarea placeholder="目前跟进状态"></textarea>
                </label>
            </div>

            <div class="drop-down-box">
                <div class="drop-down-list"><p>业主方</p><i class="drop-down"><img src="img/drop-down.png" /></i></div>
                <div class="hide-box">
                    <div class="list list-inset margin-top-none">
                        <label class="item item-input">
                            <input type="text" placeholder="单位名称">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="项目负责人">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="联系电话">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="技术总工">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="联系电话">
                        </label>
                        <label class="item item-input">
                            <textarea placeholder="单位地址"></textarea>
                        </label>
                    </div>
                </div>
            </div>


            <div class="drop-down-box">
                <div class="drop-down-list"><p>设计单位</p><i class="drop-down"><img src="img/drop-down.png" /></i></div>
                <div class="hide-box">
                    <div class="list list-inset margin-top-none">
                        <label class="item item-input">
                            <input type="text" placeholder="单位名称">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="项目负责人">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="联系电话">
                        </label>
                        <label class="item item-input">
                            <textarea placeholder="单位地址"></textarea>
                        </label>
                    </div>
                </div>
            </div>


            <div class="drop-down-box">
                <div class="drop-down-list"><p>土建总包方（未做深化图纸项目可不填）</p><i class="drop-down"><img src="img/drop-down.png" /></i></div>
                <div class="hide-box">
                    <div class="list list-inset margin-top-none">
                        <label class="item item-input">
                            <input type="text" placeholder="单位名称">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="项目负责人">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="联系电话">
                        </label>
                        <label class="item item-input">
                            <textarea placeholder="单位地址"></textarea>
                        </label>
                    </div>
                </div>
            </div>


            <div class="button-position-bottom">
                <div class="button-box">
                    <button class="button button-block button-positive">提交</button>
                </div>
            </div>





        </div>


    </ion-content>


</ion-view>