<ion-view view-title="项目详情">

    <ion-nav-buttons>
        <button class="button icon-left ion-ios-arrow-left button-clear" ng-click="goBack()"></button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <!--<div class="warrper">-->

            <!--<div class="xm-title">-->
                <!--<div class="xm-name">{{x.projectsName}}</div>-->
                <!--<div class="xm-date">{{x.createDate}}</div>-->
            <!--</div>-->

            <!--<div class="list">-->
                <!--<label class="item  item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">项目地址：</span>-->
                    <!--<input type="text" ng-model="x.projectsAdd">-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">建设规模：</span>-->
                    <!--<input type="text" ng-model="x.projectsScale">-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">结构形式：</span>-->
                    <!--<input type="text" ng-model="x.structuralStyle">-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:80px; font-size:14px; ">使用功能：</span>-->
                    <!--<textarea ng-model="x.functionDesc" style=" padding-top:6px; min-height:70px; line-height:1.5;"></textarea>-->
                <!--</label>-->

                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">项目进展：</span>-->
                    <!--<textarea ng-model="x.projectsProgress" style="padding-top:16px;"></textarea>-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">跟进状态：</span>-->
                    <!--<input type="text" ng-model="x.followupStatus" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">业主单位名称：</span>-->
                    <!--<input type="text" ng-model="x.ownerName" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">业主单位负责人：</span>-->
                    <!--<input type="text" ng-model="x.ownerPerson" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">业主负责人电话：</span>-->
                    <!--<input type="text" ng-model="x.ownerPhone" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">业主单位地址：</span>-->
                    <!--<input type="text" ng-model="x.ownerAddress" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">技术总工：</span>-->
                    <!--<input type="text" ng-model="x.technicalEngineer" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">技术总工电话：</span>-->
                    <!--<input type="text" ng-model="x.engineerPhone" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">设计单位名称：</span>-->
                    <!--<input type="text" ng-model="x.designName" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">设计单位负责人：</span>-->
                    <!--<input type="text" ng-model="x.designPerson" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">设计单位电话：</span>-->
                    <!--<input type="text" ng-model="x.designPhone" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">设计单位地址：</span>-->
                    <!--<input type="text" ng-model="x.designAddress" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">土建单位名称：</span>-->
                    <!--<input type="text" ng-model="x.enginName" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">土建单位负责人：</span>-->
                    <!--<input type="text" ng-model="x.enginPerson" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">土建单位电话：</span>-->
                    <!--<input type="text" ng-model="x.enginPhone" >-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">土建单位地址：</span>-->
                    <!--<input type="text" ng-model="x.enginAddress" >-->
                <!--</label>-->
            <!--</div>-->
            <!--<div class="button-box">-->
               <!--<div  ng-show="sfbh">-->
                   <!--<button  ng-click="xmbh(x.projectsId)" class="button button-full button-positive" style="display: inline-block; width: 49%">驳回</button>-->
                   <!--<button  ng-click="zpr(x.projectsId)" class="button button-full button-positive" style="display: inline-block; width: 49%">指派</button>-->

               <!--</div>-->
               <!--<button ng-show="ysp" ng-disabled="spzt" class="button button-full button-positive">已审批</button>-->
            <!--</div>-->

        <!--</div>-->


        <div class="warrper">

            <div class="xm-title">
                <div class="xm-name">{{x.projectsName}}</div>
                <div class="xm-date">{{x.createDate}}</div>
            </div>

            <!--<div class="list">-->
                <!--<p class="list-title">项目详情：</p>-->
                <!--<label class="item  item-inset item-input" style="height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">项目地址：</span>-->
                    <!--<input type="text" ng-disabled="true" ng-model="x.projectsAdd">-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">建设规模：</span>-->
                    <!--<input type="text"  ng-disabled="true" ng-model="x.projectsScale">-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">结构形式：</span>-->
                    <!--<input type="text" ng-disabled="true"  ng-model="x.structuralStyle">-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:80px; font-size:14px; ">使用功能<br />平面布局<br />描述：</span>-->
                    <!--<textarea ng-model="x.functionDesc"  ng-disabled="true" style=" padding-top:6px; min-height:70px; line-height:1.5;"></textarea>-->
                <!--</label>-->

                <!--<label class="item item-inset item-input" style="height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">项目进展：</span>-->
                    <!--<textarea ng-model="x.projectsProgress" ng-disabled="true"  style="padding-top:16px;"></textarea>-->
                <!--</label>-->
                <!--<label class="item item-inset item-input" style="height:30px; border-bottom:0;">-->
                    <!--<span class="input-label" style="width:70px; font-size:14px;">跟进状态：</span>-->
                    <!--<input type="text" ng-disabled="true"  ng-model="x.followupStatus" >-->
                <!--</label>-->


            <p class="list-title">项目详情：</p>
            <label class="item  item-inset item-input" style="height:30px; border-bottom:0;">
            <span class="input-label" style="width:70px; font-size:14px;">项目地址：</span>
            <input type="text" ng-disabled="true" ng-model="x.projectsAdd">
            </label>
            <label class="item item-inset item-input" style="height:30px; border-bottom:0;">
            <span class="input-label" style="width:70px; font-size:14px;">建设规模：</span>
            <input type="text"  ng-disabled="true" ng-model="x.projectsScale">
            </label>
            <label class="item item-inset item-input" style="height:30px; border-bottom:0;">
            <span class="input-label" style="width:70px; font-size:14px;">结构形式：</span>
            <input type="text" ng-disabled="true"  ng-model="x.structuralStyle">
            </label>
                    <label class="item-inset item-input" style="border-bottom:0;">
                        <span class="input-label" style="width:80px; font-size:14px;">使用功能<br />平面布局<br />描述：</span>
                        <div style="min-height:70px; line-height:1.5; padding-right:33px;">{{x.functionDesc}}</div>
                    </label>

                    <label class="item-inset item-input" style="border-bottom:0;">
                        <span class="input-label" style="width:80px; font-size:14px;">项目进展：</span>
                        <div style="min-height:0px; line-height:1.5;">{{x.projectsProgress}}</div>
                    </label>
                    <label class="item-inset item-input" style="border-bottom:0;">
                        <span class="input-label" style="width:80px; font-size:14px;">跟进状态：</span>
                        <div style="min-height:0px; line-height:1.5;">{{x.followupStatus}}</div>
                    </label>
                </div>

        <div class="list" style=" border-bottom:1px solid #e4e4e4; padding-bottom:15px;">
            <p class="list-title">业主方：</p>
            <label class="item  item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">业主单位名称：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.ownerName" >
            </label>
            <label class="item item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">业主单位负责人：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.ownerPerson" >
            </label>
            <label class="item item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">业主负责人电话：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.ownerPhone" >
            </label>
            <label class="item  item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">业主单位地址：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.ownerAddress" >
            </label>
            <label class="item item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">技术总工：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.technicalEngineer" >
            </label>
            <label class="item item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">技术总工电话：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.engineerPhone" >
            </label>
        </div>


        <div class="list" style=" border-bottom:1px solid #e4e4e4; padding-bottom:15px;">
            <p class="list-title">设计单位：</p>
            <label class="item  item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">设计单位名称：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.designName" >
            </label>
            <label class="item item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">设计单位负责人：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.designPerson" >
            </label>
            <label class="item item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">设计单位电话：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.designPhone" >
            </label>
            <label class="item item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">设计单位地址：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.designAddress" >
            </label>
        </div>

        <div class="list" style=" border-bottom:1px solid #e4e4e4; padding-bottom:15px;">
            <p class="list-title">土建总包方（未做深化图纸项目可不填）：</p>
            <label class="item  item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">土建单位名称：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.enginName" >
            </label>
            <label class="item  item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">土建单位负责人：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.enginPerson" >
            </label>
            <label class="item item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">土建单位电话：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.enginPhone" >
            </label>
            <label class="item item-inset item-input" style="height:30px; border-bottom:0;">
                <span class="input-label" style="width:70px; font-size:14px;">土建单位地址：</span>
                <input type="text"  ng-disabled="true"  ng-model="x.enginAddress" >
            </label>

            </div>

            <div class="button-box">
            <div  ng-show="sfbh">
            <button  ng-click="xmbh(x.projectsId)" class="button button-full button-positive" style="display: inline-block; width: 49%">驳回</button>
            <button  ng-click="zpr(x.projectsId)" class="button button-full button-positive" style="display: inline-block; width: 49%">指派</button>
            </div>
            <button ng-show="ysp" ng-disabled="spzt" class="button button-full button-positive">已审批</button>
            </div>

        </div>










    </ion-content>


</ion-view>