<ion-view view-title="项目详情">

    <ion-nav-buttons>
        <button class="button icon-left ion-ios-arrow-left button-clear" ng-click="goBack()"></button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="warrper">

            <div class="xm-title">
                <div class="xm-name">项目名称</div>
                <div class="xm-date">2015-06-10</div>
            </div>

            <div class="list">
                <label class="item  item-inset item-input" style="min-height:30px; border-bottom:0;">
                    <span class="input-label" style="width:70px; font-size:14px;">项目地址：</span>
                    <input type="text" value="嘉盛国际1006">
                </label>
                <label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">
                    <span class="input-label" style="width:70px; font-size:14px;">建设规模：</span>
                    <input type="text" value="规模很大">
                </label>
                <label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">
                    <span class="input-label" style="width:70px; font-size:14px;">结构形式：</span>
                    <input type="text" value="结构形式">
                </label>
                <label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">
                    <span class="input-label" style="width:80px; font-size:14px; ">使用功能<br />平面布局<br />描述：</span>
                    <textarea style=" padding-top:6px; min-height:70px; line-height:1.5;">形式结构形式结构形式结构形式结构形式结构形式结构形式结构</textarea>
                </label>

                <label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">
                    <span class="input-label" style="width:70px; font-size:14px;">项目进展：</span>
                    <textarea style="padding-top:16px;">项目进展</textarea>
                </label>
                <label class="item item-inset item-input" style="min-height:30px; border-bottom:0;">
                    <span class="input-label" style="width:70px; font-size:14px;">跟进状态：</span>
                    <input type="text" value="跟进状态">
                </label>
            </div>

        </div>

    </ion-content>


</ion-view>