<div class="modal">

	<ion-header-bar class="nav-title-slide-ios7 bar-positive">
		<div class="buttons">
            <button side="left" class="button button-clear button-icon ion-android-close" ng-click="newReplieModals()"></button>


        </div>
		<h1 class="title">人员</h1>
		<div class="buttons">
            <button class="button button-clear button-icon ion-android-done" ng-click="newReplie()"></button>
		</div>
	</ion-header-bar>
    <ion-header-bar class="bar-light bar-subheader" style="padding:0;">
        <div class="bar bar-balanced  item-input-inset" style="border: 0; background: none;">

            <label class="item-input-wrapper item-icon-left item-icon-red" style="border-radius: 0; -webkit-border-radius:0;">
                <i class="icon ion-search" style="font-size: 20px; margin-right: 20px;"></i>
                <input class="light-bg" style="padding-left: 20px;" type="search" placeholder="搜索"
                       ng-model="lxr">
                       <!--ng-keyup="change(lxr)"-->
                       <!--ng-focus="searchFocused = true"-->
                       <!--ng-blur="searchFocused = false"-->
                       <!--ng-change="scrollTop()">-->
                <!--<button ng-if="lxr.length"class="button button-icon ion-ios-close-outline input-button" ng-click="clearinput()">-->
                <!--</button>-->
            </label>
        </div>
    </ion-header-bar>


    <ion-content class="new-topics" scroll="true">

        <div class="list">

            <label  class="item item-radio" ng-repeat="t in contacts |filter:lxr" ng-click="slectbu(t.userId)">
                <input type="radio" name="group">
                <div class="item-content" >
                    {{t.userName}}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>

</div>